/spider-foundational-work/search_gov_spiders/.scrapy

/spider-foundational-work/scrutiny_vs_scrapy_comparison/__pycache__

/spider-foundational-work/scrutiny_vs_scrapy_comparison/processed

/spider-foundational-work/scrutiny_vs_scrapy_comparison/scrutiny_urls/processed

/spider-foundational-work/search_gov_spiders/build

/spider-foundational-work/search_gov_spiders/dbs

/spider-foundational-work/search_gov_spiders/eggs

/spider-foundational-work/search_gov_spiders/logs

/spider-foundational-work/search_gov_spiders/project.egg-info

/spider-foundational-work/spider-foundational-work/search_gov_spiders/search_gov_spiders/__pycache__

/spider-foundational-work/search_gov_spiders/search_gov_spiders/scrapy_urls

/spider-foundational-work/search_gov_spiders/search_gov_spiders/spider_logs

/spider-foundational-work/search_gov_spiders/search_gov_spiders/spiders/dbs

/spider-foundational-work/search_gov_spiders/search_gov_spiders/spiders/eggs

/spider-foundational-work/search_gov_spiders/search_gov_spiders/spiders/twistd.pid

/spider-foundational-work/search_gov_spiders/search_gov_spiders/spiders/__pycache__

/spider-foundational-work/search_gov_spiders/search_gov_spiders/spiders/dbs

/spider-foundational-work/search_gov_spiders/search_gov_spiders/spiders/eggs

/spider-foundational-work/search_gov_spiders/search_gov_spiders/spiders/logs/search_gov_spiders/james_webb_spider

/spider-foundational-work/search_gov_spiders/search_gov_spiders/spiders/twistd.pid

/spider-foundational-work/scrapy_urls

/spider-foundational-work/search_gov_spiders/twistd.pid

/spider-foundational-work/search_gov_spiders/scrapy_urls

/spider-foundational-work/search_gov_spiders/scrapyd_files/*

/spider-foundational-work/search_gov_spiders/search_gov_spiders/__pycache__

spider-foundational-work/search_gov_spiders/search_gov_spiders/spiders/scrapy_urls